.container{
    border: 2px solid black;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.container div{
    border: 2px solid red;

}
.container div:nth-child(3){
    background-color: yellow;
}