*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 35px;
    font-family:sans-serif;
}
.container{
    height: 100vh;

}
#size{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    
}