:root{ /*css variables*/ 
    --color-1: #cdb4db; 
    --color-2: #fff1e6;
    --color-3: #525252;
    --color-4: #bee1e6;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 35px;
    font-family:sans-serif;
}
.container{
    height: 100vh;

}
#size{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: red;

}
.container{
    display: grid;
    place-items: center;
}
@media  screen and (min-width:1025px) {
    .container{
        background-color: var(--color-4);
    }    
}
@media (max-width:1024px) and (min-width:768px) {
    .container{
        background-color: var(--color-3);
    } 
}
@media (min-width:425px)and (max-width:768px) {
    .container{
        background-color: var(--color-1);
    }
}
@media  screen and (max-width:425px) {
    .container{
        background-color: var(--color-2);
    }
    
}
