*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    align-items: center;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
nav ul li:hover{
    cursor: pointer;
}
.logo img{
    width: 50px;
    padding: 0 8px;
}
.logo{
    display: flex;
    font-weight: bolder;
    align-items: center;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('weeknd_cover.jpg');
    background-size: cover;

}
.bottom{
    position: sticky;
    height: 130px;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}
.icons{
    margin-top: 20px;
    font-size:26px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vh;
}