*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    align-items: center;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
nav ul li:hover{
    cursor: pointer;
}
.logo img{
    width: 50px;
    padding: 0 8px;
}
.logo{
    display: flex;
    font-weight: bolder;
    align-items: center;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('weeknd_cover.jpg');
    background-size: cover;

}
.bottom{
    position: sticky;
    height: 130px;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}
.icons{
    margin-top: 20px;
    font-size:26px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vh;
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 100%;
    color: black;
    margin: 12px 0;
    align-items:center;
    justify-content: space-around;
    border-radius: 12px;
}
.songItem img{
    width: 30px;
    margin: 0 20px 0;
    border-radius: 50px;
}
.timestamp{
    margin: 0 12px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    color: white;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}